<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login_signup.css">
    <!-- <link rel="stylesheet" href="/css/home.css">-->

    <%- style %>
</head>

<body>
    <%- include('_header'); %>
        <script src="/js/BASE_URL.js"></script>

        <main id="layout-main">
            <%- body %>
        </main>

        <%- include('_footer'); %>

            <%- script %>

</body>

</html>